*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(211, 200, 200);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.headers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
}
.product-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 45px;
    padding: 10px;
   margin-top: 50px;
}

.products{
    max-width: 200px;
    gap: 5px;
}
.products img{
    width: 200px;
    height: 200px;

}

button{
    padding: 5px;
    background-color: rgb(158, 160, 162);
    border-radius: 10%;
    background-color: rgba(207, 215, 215, 0.5);
}

.loading{
    text-align: center;
    font-size: 2.5em;

}
.error{
    text-align: center;
    color: red;
    font-size: 2.5em;
}


.footer{
    margin-left: 30px;
}
.searchInput{
    height: 25px;
    max-width:300px ;
    min-width: 250px;
    margin-top: 15px;
    border-radius: 10%;
    border: none;
}